<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-dark navbar-info   border-bottom">
        <div class="container">
            <a href="index3.html" class="navbar-brand">
                <span class="brand-text font-weight-light">App Portfolio Assessment</span>
            </a>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" [routerLink]="['/application-estate']">
                        Application Estate
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        {{username}}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" [routerLink]="['/login']">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /.navbar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="height:100%; background: light ">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                        </h1>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row ">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <div class="card card-default">
                            <form [formGroup]="portfolioDetailsForm" (ngSubmit)="onSubmit()">
                                <div class="card-header">
                                    <h3 class="card-title">Portfolio Details</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>BU</label>
                                            
                                                <select formControlName="bu" class="form-control">
                                                    <option value="BFSI">BFSI</option>
                                                    <option value="ENU">ENU</option>
                                                    <option value="GMT">GMT</option>
                                                    <option value="HLS">HLS</option>
                                                    <option value="MFG">MFG</option>
                                                    <option value="PES">PES</option>
                                               
                                                    <option value="RCTG">RCTG</option>
                                               
                                                    <option value="ORG_ADMIN">ORG_ADMIN</option>
                                               
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Vertical</label>
                                                <input formControlName="vertical" type="text" class="form-control" id="exampleInputEmail1" placeholder="Vertical">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Account</label>
                                                <input formControlName="account" type="text" class="form-control" id="exampleInputEmail1" placeholder="Account">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>BO</label>
                                                <input formControlName="bo" type="text" class="form-control" id="exampleInputEmail1" placeholder="BO">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>App Name</label>
                                                <input formControlName="appName" type="text" class="form-control" id="exampleInputEmail1" placeholder="App Name"> </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Wipro AL</label>
                                                <input formControlName="wiproAL" type="text" class="form-control" id="exampleInputEmail1" placeholder="Wipro AL">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer d-none">
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
    </footer>
</div>